python-dotenv==0.12.0
tensorflow==2.5.3
scikit_learn==0.23.1
pydantic==1.5.1
Unidecode==1.1.1
pandas==1.0.2
gensim==3.8.1
beautifulsoup4==4.8.2
swifter==0.301
lxml==4.5.0
matplotlib==3.1.3
seaborn==0.10.0
mlflow==1.6.0
streamlit==0.57.3
nltk==3.5
wordcloud==1.7.0
